<div class="row">
  <div class="col">
    <h1>Log in</h1>
    {{#authFailure}}
    <div class="alert alert-danger" role="alert">
      There is no user with that username and password.
    </div>
    {{/authFailure}}
    <form action="/users/login" method="POST">
      <div class="form-group {{#errors.username}}has-danger{{/errors.username}}">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" value="{{username}}" />
        {{#errors.username}}
          <div class="form-control-feedback">{{msg}}</div>
        {{/errors.username}}
      </div>
      <div class="form-group {{#errors.password}}has-danger{{/errors.password}}">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" />
        {{#errors.password}}
        <div class="form-control-feedback">{{msg}}</div>
        {{/errors.password}}
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
