<div class="row">
  <div class="col">
    <h1>Sign up</h1>
    <form action="/users/signup" method="POST">
      <div class="form-group {{#errors.username}}has-danger{{/errors.username}}">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" value="{{username}}" />
        {{#errors.username}}
          <div class="form-control-feedback">{{msg}}</div>
        {{/errors.username}}
      </div>
      <div class="form-group {{#errors.password}}has-danger{{/errors.password}}">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" />
        {{#errors.password}}
        <div class="form-control-feedback">{{msg}}</div>
        {{/errors.password}}
      </div>
      <div class="form-group {{#errors.password_confirmation}}has-danger{{/errors.password_confirmation}}">
        <label for="password_confirmation">Password confirmation</label>
        <input class="form-control" type="password" id="password_confirmation" name="password_confirmation" />
        {{#errors.password_confirmation}}
        <div class="form-control-feedback">{{msg}}</div>
        {{/errors.password_confirmation}}
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
